<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"><img src="assets/LogoufpsoMen17.png" width="230px"></span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" aria-current="page">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              La herramienta inteligente para diagnosticar y optimizar objetivos de gobierno y gestión
            </font>
          </font>
        </a>
      </li>
    </ul>
  </header>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>Una herramienta innovadora para evaluar objetivos de gobierno y gestión, proporcionando análisis precisos y recomendaciones efectivas</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Angel Gustavo Pérez Becerra - 191699
        </figcaption>
      </figure>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
<div class="container text-center mt-2 mb-5">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
